html, body {
  height: 100%; /* Ensure full height */
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Prevent scrolling */
}

.custom-primary {
  background-color: maroon;
}

main {
  margin-left: 20px; /* adjust the value to your liking */
}

#sidebar-nav li a {
  transition: background-color 0.3s, color 0.3s;
}

#sidebar-nav li a:hover {
  background-color: #6296cd;
  color: #ffffff;
}

.content-container {
  height: 490px; /* Set a fixed height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 15px; /* Optional: Add some padding */
  border: 1px solid #ccc; /* Optional: Add a border */
  border-radius: 5px; /* Optional: Add rounded corners */
  background-color: #dcdcdc; /* Optional: Set a background color */
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  flex: 1;
}

.searchTerm {
  border-radius: 10px 0 0 10px;
  border: 3px solid #9fa3a3;
  border-right: none;
  padding: 5px;
  height: 35px;
  width: 50%;
}

.searchTerm:focus{
  color: #9fa3a3;
}

.searchButton {
  width: 40px;
  height: 35px;
  border: 1px solid #9fa3a3;
  background: #9fa3a3;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  margin-left: -20px;
}

.wrap {
  display: flex;
  align-items: center;
}

.ms-auto {
  margin-left: auto; /* Push the button to the right side */
}

.content-container {
  padding: 20px; /* Add padding around the content */
}

.btn i {
  font-size: 12px;
}
